.play {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.play__container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play__hands {
  width: 375px;
  height: 360px;

  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 11px;

  overflow: hidden;
}

@media (min-width: 960px) {
  .play__hands {
    width: 100%;

    column-gap: 45px;
  }
}

.play__move {
  position: relative;
  top: 55px;

  width: 124px;
  height: 240px;
}

.play__move--blurred {
  top: 95px;

  opacity: 0.5;
}

.play__move--select {
  top: 15px;

  opacity: unset;
}

.play__result {
  width: 375px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.play__position {
  position: relative;

  width: 171px;
}

.play__player {
  top: 15px;
}

.play__computer {
  bottom: 15px;

  transform: rotate(180deg);
}

.result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  min-width: 375px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result--win {
  background-color: var(--dark-tan);
}

.result--lose {
  background-color: var(--cordovan);
}

.result__image {
  margin-bottom: 11px;
}

.result__box {
  background-color: #ffffff;

  width: 259px;
  height: 217px;

  margin-bottom: 21px;

  border: 10px solid #000000;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.result__score {
  font-family: "Odibee Sans";
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  letter-spacing: 0.05em;

  margin: 0px;
  margin-top: 5px;

  align-self: center;
}

.result__text {
  font-family: "Odibee Sans";
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.05em;

  margin: 0px;
  margin-right: 30px;

  align-self: flex-end;
}

.result__link {
  text-decoration: none;
}

.result__button {
  width: 335px;
  height: 87px;
}
